{% load staticfiles %}
<!DOCTYPE html>
<html ng-app="cmi">
  <head>
    <title>Cuadro de Mando Integral</title>

    <base href="/" />

    {% include 'partials/_stylesheets.html' %}
  </head>

  <body>
    {% include 'partials/_navbar.html' %}

    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 ng-view"></div>
      </div>
    </div>

    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <p class="text-muted">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. In euismod, orci eu posuere interdum,
              arcu neque interdum urna, in scelerisque ante ipsum vel massa. Maecenas turpis dolor, laoreet
              vel tempus ac, ultricies ut diam. Mauris malesuada metus quis blandit congue. Praesent imperdiet
              sit amet leo in elementum. Fusce condimentum nulla nisi, ac sagittis arcu aliquet in. Proin auctor
              diam vel dui ornare, at commodo lacus viverra. Praesent quis arcu tortor. Aliquam tristique, erat
              ac tincidunt condimentum, ante ipsum sagittis mi, at mollis orci justo at mi. In euismod odio at
              venenatis congue. Nullam sagittis velit eget efficitur condimentum. Nam tempor vel urna consequat
              tincidunt. Integer est velit, blandit in mauris feugiat, ultrices facilisis metus.
            </p>
          </div>
          <div class="col-lg-4">
            <p class="text-muted">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. In euismod, orci eu posuere interdum,
              arcu neque interdum urna, in scelerisque ante ipsum vel massa. Maecenas turpis dolor, laoreet
              vel tempus ac, ultricies ut diam. Mauris malesuada metus quis blandit congue. Praesent imperdiet
              sit amet leo in elementum. Fusce condimentum nulla nisi, ac sagittis arcu aliquet in. Proin auctor
              diam vel dui ornare, at commodo lacus viverra. Praesent quis arcu tortor. Aliquam tristique, erat
              ac tincidunt condimentum, ante ipsum sagittis mi, at mollis orci justo at mi. In euismod odio at
              venenatis congue. Nullam sagittis velit eget efficitur condimentum. Nam tempor vel urna consequat
              tincidunt. Integer est velit, blandit in mauris feugiat, ultrices facilisis metus.
            </p>
          </div>
          <div class="col-lg-4">
            <p class="text-muted">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. In euismod, orci eu posuere interdum,
              arcu neque interdum urna, in scelerisque ante ipsum vel massa. Maecenas turpis dolor, laoreet
              vel tempus ac, ultricies ut diam. Mauris malesuada metus quis blandit congue. Praesent imperdiet
              sit amet leo in elementum. Fusce condimentum nulla nisi, ac sagittis arcu aliquet in. Proin auctor
              diam vel dui ornare, at commodo lacus viverra. Praesent quis arcu tortor. Aliquam tristique, erat
              ac tincidunt condimentum, ante ipsum sagittis mi, at mollis orci justo at mi. In euismod odio at
              venenatis congue. Nullam sagittis velit eget efficitur condimentum. Nam tempor vel urna consequat
              tincidunt. Integer est velit, blandit in mauris feugiat, ultrices facilisis metus.
            </p>
          </div>
        </div>

      </div>
    </footer>

    {% include 'partials/_javascripts.html' %}
  </body>
</html>
