{% load staticfiles %}
<!DOCTYPE html>
<html data-ng-app="cmi">
  <head>
    <title>Cuadro de Mando Integral</title>

    <base href="/" />

    {% include 'partials/_stylesheets.html' %}
  </head>

  <body>
    {% include 'partials/_navbar.html' %}

    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="jumbotron">
            <img src="{% static 'core/img/ine.png' %}" class="center-block">
            <h1 class="text-center">Sistema de Gestión de la Calidad</h1>

          </div>
          <div class="page-header">
            <h1><i class="fa fa-shield"></i> Política de la Calidad <small>Revisión: 04 (marzo 07, 2016)</small></h1>
          </div>
          <div class="well well-lg">
            <p class="lead">
              Quienes trabajamos en el Instituto Nacional Electoral en Tlaxcala nos comprometemos
              a <mark>garantizar el ejercicio de los derechos político-electorales</mark> al ofrecer un
              servicio de calidad en la atención ciudadana, tramitar y entregar la credencial para
              votar con fotografía, usar eficientemente los recursos, y cumplir la normatividad y
              metas institucionales, realizando <mark>nuestras labores</mark> con enfoque de mejora continua y
              de trabajo en equipo, en estricto apego a los principios rectores de: certeza,
              legalidad, independencia, imparcialidad, máxima publicidad y objetividad; y dando
              cumplimiento a la Norma <mark>ISO 9001</mark>.
            </p>
          </div>
        </div>
      </div>

      <div class="page-header">
        <h1><i class="fa fa-bullseye"></i> Objetivos de la Calidad</h1>
      </div>
      <div class="row active-with-click">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <article class="material-card Red">
            <h2>
              <span>Productividad</span>
              <strong>
                <i class="fa fa-fw fa-area-chart"></i>
                indicador
              </strong>
            </h2>
            <div class="mc-content">
              <div class="img-container">
                <img class="img-responsive" src="{% static 'core/img/mac4.jpg' %}">
              </div>
              <div class="mc-description">
                Mantener una productividad semanal en los Módulos de Atención Ciudadana en mínimo 27 atenciones en
                promedio,  por  día  y  por  estación de  trabajo, en  almenos  el 92% de  las  remesas operativas
                del 2016, cuando la afluencia ciudadana es baja.
              </div>
            </div>
            <a class="mc-btn-action">
              <i class="fa fa-bars"></i>
            </a>
          </article>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <article class="material-card Pink">
            <h2>
              <span>Trámites</span>
              <strong>
                <i class="fa fa-fw fa-area-chart"></i>
                indicador
              </strong>
            </h2>
            <div class="mc-content">
              <div class="img-container">
                <img class="img-responsive" src="{% static 'core/img/mac6.jpg' %}">
              </div>
              <div class="mc-description">
                Cumplir  como  mínimo  con  el  100%  del  pronóstico establecido  para  el 2016,
                de  solicitudes  de credencial (trámites).
              </div>
            </div>
            <a class="mc-btn-action">
              <i class="fa fa-bars"></i>
            </a>
          </article>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <article class="material-card Purple">
            <h2>
              <span>Rechazos y Faltantes</span>
              <strong>
                <i class="fa fa-fw fa-thumbs-o-down"></i>
                indicador
              </strong>
            </h2>
            <div class="mc-content">
              <div class="img-container">
                <img class="img-responsive" src="{% static 'core/img/mac3.jpg' %}">
              </div>
              <div class="mc-description">
                Tener un máximo del 0.01%de rechazosy faltantes de la documentación electoral generada en los
                Módulos de Atención Ciudadana que es enviada al CECYRD para suresguardo definitivo, en el 2016,
                considerando la información que se envió por primera vez en el periodo que se reporta.
              </div>
            </div>
            <a class="mc-btn-action">
              <i class="fa fa-bars"></i>
            </a>
          </article>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <article class="material-card Indigo">
            <h2>
              <span>Metas</span>
              <strong>
                <i class="fa fa-fw fa-flag-checkered"></i>
                indicador
              </strong>
            </h2>
            <div class="mc-content">
              <div class="img-container">
                <img class="img-responsive" src="{% static 'core/img/mac2.jpg' %}">
              </div>
              <div class="mc-description">
                Integrar  al 100%  las evidencias de las metas del Servicio Profesional Electoral del 2016
              </div>
            </div>
            <a class="mc-btn-action">
              <i class="fa fa-bars"></i>
            </a>
          </article>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <article class="material-card Blue">
            <h2>
              <span>Distribución</span>
              <strong>
                <i class="fa fa-fw fa-truck"></i>
                indicador
              </strong>
            </h2>
            <div class="mc-content">
              <div class="img-container">
                <img class="img-responsive" src="{% static 'core/img/mac5.jpg' %}">
              </div>
              <div class="mc-description">
                Lograrcomo  mínimo  que  el  85%  de  los  FCPV  sean distribuidos en un  máximo  de 48 horas,
                considerando desde que llegan hasta que se ponen disponibles en los MAC, en el 2016.
              </div>
            </div>
            <a class="mc-btn-action">
              <i class="fa fa-bars"></i>
            </a>
          </article>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <article class="material-card Light-Blue">
            <h2>
              <span>Aprobación</span>
              <strong>
                <i class="fa fa-fw fa-comments-o"></i>
                indicador
              </strong>
            </h2>
            <div class="mc-content">
              <div class="img-container">
                <img class="img-responsive" src="{% static 'core/img/mac1.jpg' %}">
              </div>
              <div class="mc-description">
                Obtener al menos el 96% de aprobación, en el2016, en las encuestas de percepción ciudadana sobre
                el servicioque se brinda en los Módulos de Atención Ciudadana.
              </div>
            </div>
            <a class="mc-btn-action">
              <i class="fa fa-bars"></i>
            </a>
          </article>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <article class="material-card Cyan">
            <h2>
              <span>Felicitaciones</span>
              <strong>
                <i class="fa fa-fw fa-star-o"></i>
                indicador
              </strong>
            </h2>
            <div class="mc-content">
              <div class="img-container">
                <img class="img-responsive" src="{% static 'core/img/mac7.jpg' %}">
              </div>
              <div class="mc-description">
                Disminuir, en el 2016, al 1% de quejas, respecto a las felicitaciones.
              </div>
            </div>
            <a class="mc-btn-action">
              <i class="fa fa-bars"></i>
            </a>
          </article>
        </div>
      </div>
      <hr>
    </div>

    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <h3 class="text-info">Sobre el SGC</h3>
            <ul class="list-unstyled">
              <li><i class="fa fa-home"></i> <a href="{% url 'index' %}">Portada</a></li>
              <li><i class="fa fa-shield"></i> Política de la Calidad</li>
              <li><i class="fa fa-bullseye"></i> Objetivos de la Calidad</li>
              <li><i class="fa fa-book"></i> Documentación</li>
              <li><i class="fa fa-line-chart"></i> Indicadores</li>
              <li><i class="fa fa-flag-checkered"></i> Metas Institucionales</li>
              <li><i class="fa fa-bug"></i> Control de Planes de Acción</li>
              <li><i class="fa fa-users"></i> Base capINE</li>
              <li><i class="fa fa-map-o"></i> Cartografía</li>
              <hr>
              <li><i class="fa fa-info-circle"></i> Sobre el Cuadro de Mando</li>
            </ul>
          </div>
          <div class="col-lg-4">
            <h3 class="text-primary">Enlaces externos</h3>
            <ul>
              <li><i class="fa fa-external-link"></i> <a href="http://ine.mx">Instituto Nacional Electoral</a></li>
              <li><i class="fa fa-newspaper-o"></i> <a href="http://www.emedios.com.mx/ine/documentos/ine/CarpetaDigital/{{ hoy }}/01%20Carpeta%20Digital%20Completa.pdf">Síntesis Matutina de Prensa</a></li>
            </ul>

          </div>
          <div class="col-lg-4">

          </div>
        </div>
      </div>
      <div class="ine-footer">
        <div class="container">
          <div  class="row">
            <div class="col-xs-12">
            <p>
              Instituto Nacional Electoral &copy; 2016.
            </p>
            </div>
          </div>
        </div>
      </div>
    </footer>

    {% include 'partials/_javascripts.html' %}
    <script>
$(function() {
        $('.material-card > .mc-btn-action').click(function () {
            var card = $(this).parent('.material-card');
            var icon = $(this).children('i');
            icon.addClass('fa-spin-fast');

            if (card.hasClass('mc-active')) {
                card.removeClass('mc-active');

                window.setTimeout(function() {
                    icon
                        .removeClass('fa-arrow-left')
                        .removeClass('fa-spin-fast')
                        .addClass('fa-bars');

                }, 800);
            } else {
                card.addClass('mc-active');

                window.setTimeout(function() {
                    icon
                        .removeClass('fa-bars')
                        .removeClass('fa-spin-fast')
                        .addClass('fa-arrow-left');

                }, 800);
            }
        });
    });
    </script>
  </body>
</html>
