{% load compress %}
{% load staticfiles %}

{% compress js %}
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/material.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/ripples.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/underscore-min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/angular.js' %}"></script>
<script type="text/javascript" src="{% static 'js/angular-route.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/angular-cookies.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/ngDialog.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/snackbar.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'core/core.js' %}"></script>
    <script type="text/javascript" src="{% static 'core/core.config.js' %}"></script>
    <script type="text/javascript" src="{% static 'core/core.routes.js' %}"></script>
    <script type="text/javascript" src="{% static 'core/core.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'core/core.service.js' %}"></script>
    <script type="text/javascript" src="{% static 'core/core.controllers.js' %}"></script>

{% endcompress %}