{% load compress %}
{% load staticfiles %}

{% compress css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/cmi.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/ripples.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/ngDialog.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/ngDialog-theme-default.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/snackbar.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">
{% endcompress %}