{% extends 'base.html' %}
{% load staticfiles%}

{% block html_tag %}{% endblock %}
{% block body-tag %}{% endblock %}

{% block frontend %}
  {% include 'partials/_angularjs.html' %}
  <script type="text/javascript" src="{% static 'core/js/core.js' %}"></script>
  <script type="text/javascript" src="{% static 'core/js/core.config.js' %}"></script>
  <script type="text/javascript" src="{% static 'core/js/core.routers.js' %}"></script>
  <script type="text/javascript" src="{% static 'core/js/core.controllers.js' %}"></script>
{% endblock frontend %}

{% block content %}
<div class="container" ng-app="cmiCore">
  <div class="row">
    <!-- Aquí inyectamos las vistas -->
    <div ng-view></div> 
  </div>
</div>
{% endblock content %}